# Ignore all text files
*.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore SASS config files
.sass-cache

#Ignore hello.py
hello.py

#ignore gitignore file
.gitignore

#ignore readme.md
*.md

# Environments
__pycache__/