# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore SASS config files
.sass-cache

#Ignore hello.py
hello.py

.gitignore

readme.md